@charset "UTF-8";

body {
	background-color: white;
}

header {
	text-align:center;

}

main {
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

.recode {

	box-shadow: inset 3px 3px 3px 8px white;
	border: 1px double rgb(255, 255, 255);
	border-radius: 5px;
	background-color: white;
    width: 50%;
    margin: 0 auto;
}
